.container {
    display: flex;
    flex-flow:row-reverse;
  }
  
  .label {
    font-size: x-large;
    margin-bottom: 3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  .placeholder{
    font-size: 13px;
  }
  
  .input {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 40px;
    border: none;
  }

  